
body{
  background-color: #5b7989;
}
header h1{
  background-color:#5b7989;
  text-align:left;
  font-family: Dancing Script ;
  border-radius: 10px;
  color: white;
  text-shadow:2px 2px #02010a;
}
footer{
  flex-flow: row;

}
.column{
  display: flex;
}
.column1{
  order: 1;
}
.column2{
  order: 2;
}
.column3{
  order: 3;
}
.column4{
  order: 4;
}
#menu-principal{
  color: white;
  float: right
}
#contenedor{
  display: flex;
  margin: 0 auto;
}
#img1{
  width: 100%;
  background-color: #82c3a6;
  order: 1;
}
#img2{
  width: 50%;
  order: 2;
}
#img3{
  width: 50%;
  order: 3;
}
@media screen and (max-width: 960px){
  #contenedor{
    width: 80%
    margin:0 auto;
  }
}

@media screen and (max-width: 640px) {
  #contenedor{
    width: 100%
    margin:0 auto;
  }

}

@media screen and (max-width: 480px){
  #contenedor{
    width: 100%;
    margin: 0 auto;
  }
  #img1{
    width: 100%;
  }
  #img2{
    width: 100%;
  }
  #img3{
    width: 100%;
  }
}
