
body{
  background-color: #5b7989;
}
header h1{
  background-color:#5b7989;
  text-align:left;
  font-family: Dancing Script ;
  border-top: 10px;
  color: white;
  text-shadow:2px 2px #02010a;
}
#menu-principal{
  text-align: right;
  color: white; 
  float: right;
}
.column1 {

    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}
