@font-face{
  font-family: Dancing Script;
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
}
body{
  background-color: #02010a;
  font-family: Dancing Script;
}
#menu-principal{
text-decoration: none !important;
}

header{
  background-color:#5b7989;
  font-family: Dancing Script ;
  border-radius: 10px 10px 0px 0px;
  color: white !important;
  width: 100%;
  animation: slidein 2s;
}
@keyframes slidein{
  0% {
margin-top: 150%;
  }
  60% {
margin-top: -5%;
  }
  100% {
margin-top: 0%;
  }
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
h1{
  text-shadow: 2px 2px #02010a;
  margin-top: 0em;
  margin-bottom: 0em;
}
/* IDEA: footer css */
footer{
  font-family: Dancing Script ;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}
.contenido{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.galeria{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #d5c75f;
}

@media screen and (max-width: 480px) {
  .contenido{
    text-align: center;
  }
  .menu{
    text-align: center;
    background-color:#5b7989;
  }
  h1{
  text-align: center;
  }
  #menu-principal{
    text-align: center;
  }
  img{
    width: 250px;
    display: flex;
    flex-flow: column;
  }
  #img1{
    width: 100%;
    filter: blur(10px);
    order: 1;
  }
  #img2{
    width: 100%;
    filter: grayscale(100%);
    order: 2;
  }
  #img3{
    filter: sepia(90%);
    order: 3;
    width: 100%;
  }
  #img4{
    filter: grayscale(100%);
    order: 4;
    width: 100%;
  }
  #img5{
    width: 100%;
    order: 5;
  }
  #img6{
    width: 100%;
    filter: grayscale(100%);
    order: 6;
  }
  .column1{
    width: 100%;
    order: 4;
  }
  .column2{
    width: 100%;
    order: 5;
  }
  .column3{
    width: 100%;
    order: 6;
  }
  .column4{
    width: 100%;
    order: 7;
  }
}
@media screen and (min-width: 481px) {
  img{
    width: 250px;
    display: flex;
    flex-flow: column;
  }
#menu-principal{
  float: right;
}
  .contenido{
    justify-content: center;
  }
  #img1{
    filter: blur(10px);
    order: 1;
  }
  #img2{
    filter: grayscale(100%);
    order: 2;
  }
  #img3{
    filter: sepia(90%);
    order: 3;
  }
  #img4{
    filter: grayscale(100%);
    order: 4;
  }
  #img5{
    order: 5;
  }
  #img6{
    filter: grayscale(100%);
    order: 6;
  }
  .column1{
    width: 25%%;
    order: 7;
  }
  .column2{
    width: 25%;
    order: 8;
  }
  .column3{
    width: 25%;
    order: 9;
  }
  .column4{
    width: 25%;
    order: 10;
  }
}
