@font-face{
  font-family: Dancing Script;
  src: url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
}
body{
  background-color: #02010a;
  font-family: Dancing Script;
}
#menu-principal{
text-decoration: none !important;
}

header{
  background-color:#5b7989;
  font-family: Dancing Script ;
  border-radius: 10px 10px 0px 0px;
  color: white !important;
  width: 100%;
  animation: slidein 2s;

}
@keyframes slidein{
  0% {
margin-top: 150%;
  }
  60% {
margin-top: -5%;
  }
  100% {
margin-top: 0%;
  }
}
a:link{
  color: white;
}
a:visited{
  color: white;
}
h1{
  text-shadow: 2px 2px #02010a;
  margin-top: 0em;
  margin-bottom: 0em;
}
/* IDEA: css imagenes */

img{
  -webkit-filter:drop-shadow(2px 2px #02010a);
  filter: drop-shadow(2px 2px #02010a);
  width: 350px;
}
/* IDEA: footer css */
footer{
  font-family: Dancing Script ;
  background-color: #C6d5c5;
  border-radius: 0px 0px 10px 10px;
}
#img2 img:hover{
  transform: rotate(10deg);
}
#img3 img:hover{
  transform: translate(20px, -5px);
  }

.contenido{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 480px) {
  .cuerpo_1{
  text-align: center;
  }
  .contenido{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  #menu-principal{
    text-align: center;
  }
  .menu{
    text-align: center;
    background-color:#5b7989;
  }
  img{
    width: 230px;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  #img1{
    width: 100%;
    background-color: #82c3a6;
    order:1;
  }
  #img2{
    width: 100%;
    background-color: #d5c75f;
    order:2;
      }
  #img3{
    width: 100%;
    background-color: #d5c75f;
    order:3
    }
  .column1{
    width: 100%;
    order: 4;
  }
  .column2{
    width: 100%;
    order: 5;
  }
  .column3{
    width: 100%;
    order: 6;
  }
  .column4{
    width: 100%;
    order: 7;
  }
}

@media screen and (min-width: 481px) {
  .cuerpo_1{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
  }
  .contenido{
    justify-content: center;
  }
  .menu{
    background-color: #5b7989;
  }
  #menu-principal{
  float: right;
  background-color: #5b7989;
  }
  #img1{
    background-color: #82c3a6;
    width: 100%;
    text-align: center;
  }
  #img2{
    background-color: #d5c75f;
    width: 50%;
    text-align: center;
  }
  #img3{
    background-color: #d5c75f;
    width: 50%;
    justify-content: center;
    text-align: center;
  }
  .column1{
    width: 25%%;
    order: 1;
  }
  .column2{
    width: 25%;
    order: 2;
  }
  .column3{
    width: 25%;
    order: 3;
  }
  .column4{
    width: 25%;
    order: 4;
  }
}
