body {
  margin: 25px;

}

div {
  border: solid 1px black;
  text-align: center;

}

#destacados{
  background-color: #669999;

}
#ofertas{
  background-color: #F7D988;
  box-shadow: 4px 8px
}

#disponible{
  background-color: #F7A188;
  box-shadow: 4px 8px #D46A6A;
}

#destacados .contenedor > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 3px white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 0, 0.3)
}


#ofertas .contenedor > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: 33.3%;
  display: flex;
  flex-direction: column;
}
#ofertas > h1{
  text-shadow: 1px 1px 2px white, 0 0 30px #D46A6A;
}

#disponible .contenedor > div {
text-align: center;
padding: 10px;
margin: 10px;
border: solid 5px coral;
background-color: white;
width: 25%;
display: flex;
flex-direction: column;
}

footer {

  margin-top: 15px;
  border-top: solid 1px black;
  padding-top: 15px;
  text-align: center;
  text-decoration: line-through;
}

.contenedor{
  display: flex;
  flex-direction: row;
}
