body {
	font-family: Arial;
	width: 40%;
	margin-left: 5%;

}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
	border-radius: 1vh;
	background-color: #669999;
}

#contenido {
	margin: 1%;
	text-align: center;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: center;
}
