body{
  font-family: Indie Flower;
}
.contenedor{
  margin 0;
  padding: 0;
  width: 100%;
}
.contenedor div {
  box-sizing: border-box;
  min-width: 150px;
  padding: 20px;
}
.c1{
  color: purple;
  background-color: coral;
}
.c2{
  color: black;
  background-color: #F4F1BB;
}
.c3{
  color: black;
  background-color: #E6EBE0;
}
.c4{
  color: black;
  background-color: #9BC1BC;
}
.c5{
  color: black;
  background-color: green;
}
.contenedor{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.c1, .c2, .c3, .c4, .c5{
  width: 100%;
}

@media (min-width: 800px){
  .c1{
    width: 100%;
  }
  .c2{
    width: 100%;
  }
  .c3, .c4, .c5,{
    width: 33.33%;
  }
  .contenedor{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 600px) {
.c1 {
width: 25%;
}

.c4 {
width: 75%;
}
}
@media (min-width: 800px) {
.container {
width: 800px;
margin-left: auto;
margin-right: auto;
}
}
