body{
  width: 90%;
  margin-left: 5%;
  font-size: 3vw;
}
#contenido{
  margin: 1%;
}
header{
  padding: 1vh 1vw;
  border-radius: 1vh;
  margin-bottom: 1vh;
  background: linear-gradient(blue, green);
}
h1{
  margin: 1%;
  font-size: 2.5em;
}
footer{
  font-size: 0.8em;
  padding-top: 1vw;
  margin-top: 1vw;
}
